footer {
  background-color: #036141;
  font-size: var(--body-font-size-xs);
  color: #FFFFFF;
}

footer .footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 25px;
}



.footer-support-links{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.footer-mobile > div > div{
padding: 15px;
}


.footer-mobile > div:first-child {
  display: flex;
  border: solid 0.25px white;
  padding: 10px;
}

.footer-mobile > div:last-child > div:last-child {
  display: flex;
}

.footer-mobile > div:last-child > div:last-child img {
  width: 45px;
  height: 45px;
}

.footer-mobile > div:last-child > div:last-child > div{
  display: flex;
}

.footer-mobile > div:last-child > div:last-child > div img{
  width: 45px;
  height: 45px;
}

.footer-cta {
  display: flex;
}


.footer-mobile-container {
  display: flex;
}

.footer-support-links > div:last-child > div {
  display: flex;
}

.footer-support-links {
  border-top: solid 1px white;
}