footer {
  background-color: #036141;
  font-size: var(--body-font-size-xs);
  color: #FFFFFF;
}

footer .footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 40px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 25px;
}

.footer-support-links{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.footer-cta h3{
  font-size: 14px;
}

.footer-mobile > div:first-child h5{
  font-size: 14px;
}

.footer-mobile > div:first-child p{
  font-size: 13px;
}

.footer-mobile > div:first-child a{
  font-size: 13px;
}

.footer-mobile > div:first-child {
  display: flex;
  border: solid 0.1px rgba(255, 255, 255, 0.444);
  padding-top: 25px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
}

.footer-mobile > div:first-child >div:last-child img{
  width: 150px;
  height: auto;
}

.footer-mobile > div:last-child h5{
  font-size: 16px;
}

.footer-mobile > div:last-child > div:last-child {
  display: flex;
}

.footer-mobile > div:last-child {
  padding-top: 30px;  
}

.footer-mobile > div:last-child > div:last-child img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.footer-cta {
  display: flex;
  padding-left: 40px;
  gap: 30px;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.footer-mobile > div:last-child > div:first-child{
  padding-bottom: 0%;
}

.footer-mobile > div:last-child > div:last-child{
  padding-top: 0%;
}

.footer-mobile-container {
  display: flex;
}

.footer-support-links > div:last-child > div {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.footer-support-links {
  border-top: solid 0.1px rgba(255, 255, 255, 0.444);
  font-size: 16px;
  padding-top: 5px;
}